/* menu */
.divFix {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  background-color: red;
}
.filterNav {
  width: 100%;
  margin: auto;
  position: fixed;
}
.filterNav div a{
    font-size: x-small;
}
.imgFood {
  width: 4rem;
  height: 3rem;
  display: flex;
  margin: auto;
}
.imgF {
  width: 100%;
  object-fit: cover;
}

/* //pedidos */
.navFilter {
  position: fixed;
}
.imgFoodP {
  height: 3rem;
  display: flex;
  margin: auto;
}
.tablePedidos {
  width: 35% !important;
  position: fixed;
}
.add {
  color: rgb(63, 37, 235);
}
.add:hover {
  color: rgb(58, 34, 215);
  transform: scale(1.2);
}
.remove {
  color: red;
}
.remove:hover {
  color: brown;
  transform: scale(1.2);
}
.main_container {
  margin: 20% 10%;
  width: 70%;
  border: 1px solid gray;
  background-color: white;
  border-radius: 2%;
}

.icon_container {
  justify-content: end;
  text-align: end;
}
.sub_container {
  display: flex;
  background-color: white;
  color: rgb(95, 92, 92);
  padding: 3%;
}
.img__modal {
  width: 80%;
}

.container_right {
  width: 40%;
}
.container_left {
  width: 60%;
}
small{
  font-size: 1.5rem;
}